---
---

@import "{{ site.theme }}";
header h1 {
 font-family:'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
 font-size:45px;
 font-weight:900;
 line-height:1.2;
 color:#303030;
 letter-spacing:-1px
}
a {
 color:#607d8b;
 text-decoration:underline;
}
h1 a:hover { 
    color: #01579B;
}
h3 {
    color: #0090c9;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}
