<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">

{% seo %}
  </head>

  <body>	  
    <div id="container">
      <div class="inner">

       <header>
          <a href="/"><img src="header.svg" alt="Calvary Hills Baptist Church"/></a>
        </header>
	<table style="background-color: #607d8f;font-size: x-large;">
  	  <tbody>
    	    <tr>
	      <td><a href="/about.html" style="color: azure;padding: .5em;font-size: .75em;">about</a></td>
	      <td><a href="/ministries.html" style="color: azure;padding: .5em;font-size: .75em;">ministries</a></td>
	      <td><a href="/cal.html" style="color: azure;padding: .5em;font-size: .75em;">schedule</a></td>
	      <td><a href="/mdo.html" style="color: azure;padding: .5em;font-size: .75em;">mdo</a></td>
	    </tr>
	  </tbody>
	</table>
	      
        <section id="downloads" class="clearfix">
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {% endif %}
	{% if site.github.public %}
	  {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% else %}
          <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% endif %}
	{% endif %}
        </section>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer>
<table>
    <tbody>
      <tr>
        <td><a href="/about.html">about</a></td>
        <td><a href="/ministries.html">ministries</a></td>
        <td><a href="/cal.html">schedule</a></td>
        <td>
		<a href="https://www.facebook.com/calvaryhillsbaptist/">facebook 
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 266.893 266.895" enable-background="new 0 0 266.893 266.895" xml:space="preserve">
<path id="Blue_1_" fill="#3C5A99" d="M248.082,262.307c7.854,0,14.223-6.369,14.223-14.225V18.812
	c0-7.857-6.368-14.224-14.223-14.224H18.812c-7.857,0-14.224,6.367-14.224,14.224v229.27c0,7.855,6.366,14.225,14.224,14.225
	H248.082z"></path>
<path id="f" fill="#FFFFFF" d="M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935
	l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585
	v99.803H182.409z"></path>
</svg>

                  </a>
		</td>
      </tr>
    </tbody>
</table>
        </footer>

      </div>
    </div>
  </body>
</html>
